/** Add css rules here for your application. */
html { overflow:  hidden; }

body {
	margin: 0;
	padding: 0;
	-background-image: url("img/green_maze.jpg");
	background-image: url("img/bg_21.gif");
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/*.splitPanelSysProp div {
	margin: 0px;
	padding: 0px;
}*/
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.listStyle li {
	list-style-type: none;
	list-style-image: none;
}

.splitPanelSysProp {
	margin: 0px;
	padding: 0px;
}

#bm_desktop .bm_menu {
	background-color: rgba(100, 200, 100, 0.75);
	border-right: 1px solid #DFD;
	box-shadow: 0 0 8px #335533;
	height: 100% !important;
	left: 0;
	width: 66px;
	background: url("/img/menuBg.png") repeat scroll center center
		transparent;
	z-index: 9999;
}

#bm_desktop_viewport {
	width: 100%;
	padding-left: 90px;
}

#bm_desktop {
	height: 100%;
	width: 100%;
	position: absolute;
	/*margin: 10px 80px;*/
/*padding-right: 80px;*/
}

.menuShortCut {
	/*background-image: url("/img/icons/account.png");*/
	background-position: center center;
	background-repeat: no-repeat;
	/*border: 1px solid #DDDDDD;*/
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 54px;
	margin: 5px;
	position: relative;
	width: 54px;
}

.wShortCut:hover {
	box-shadow: 0 0 3px #666 inset;
}

.view-tile .wShortCut {
	background-position: 3px center;
	background-repeat: no-repeat;
	/*border: 1px solid #DDDDDD;*/
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 54px;
	margin: 5px;
	position: relative;
	width: 220px;
	overflow: hidden;
}

.view-list .wShortCut {
	background-position: 3px center;
	background-repeat: no-repeat;
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 16px;
	margin: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.view-icon .wShortCut {
	background-position: center 6px;
	background-repeat: no-repeat;
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 100px;
	margin: 5px;
	position: relative;
	width: 90px;
	overflow: hidden;
}

.wShortCut .bg {
	cursor: pointer;
	height: 100%;
	white-space: nowrap;
	border: none;
	width: 100%;
	background: none;
	position: absolute;
}

.view-tile .caption {
	color: #666666;
	font-size: 12px;
	font-style: normal;
	margin-left: 56px;
	margin-top: 1px;
}

.view-tile .descryption {
	color: #999;
	font-size: 9px;
	font-style: normal;
	margin-left: 56px;
	margin-top: 0;
}

.view-list .descryption {
	display: none;
}

.view-icon .descryption {
	display: none;
}

.view-list .caption {
	color: #666666;
	font-size: 10px;
	font-style: normal;
	margin-left: 56px;
	margin-top: 0;
}

.view-icon .caption {
	color: #666666;
	float: none;
	font-size: 10px;
	font-style: normal;
	margin-top: 60px;
	text-align: center;
}

.menuShortCut:hover {
	box-shadow: 0 0 4px rgba(100, 150, 100, 0.9), 0 0 10px #EEFFEE inset
}

.menuShortCut .caption, .menuShortCut .descryption {display: none;}

.menuShortCut:hover .caption:before {
    border-color: rgba(205, 212, 195, 0) #558855 rgba(205, 212, 195, 0) rgba(205, 212, 195, 0);
    border-width: 6px;
    margin-top: -6px;
    top: 50%;
}
.menuShortCut:hover .caption:after, .caption:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    width: 0;
}
.menuShortCut:hover .caption:after {
    border-color: rgba(13, 74, 15, 0) #558855 rgba(13, 74, 15, 0) rgba(13, 74, 15, 0);
    border-width: 5px;
    margin-top: -5px;
    top: 50%;
}
.menuShortCut:hover .caption:after, .caption:before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    width: 0;
}
.menuShortCut:hover .caption {
    background: none repeat scroll 0 0 #558855;
    border: 1px solid #EEFFEE;
    border-radius: 3px 3px 3px 3px;
    color: #EEFFEE;
    display: none;
    font-family: Verdana;
    font-size: 10px;
    left: 64px;
    padding: 3px;
    position: absolute;
    top: 6px;
}




.menuShortCut .bg {
	cursor: pointer;
	height: 100%;
	white-space: nowrap;
	border: none;
	width: 100%;
	background: none;
	position: absolute;
}

.BpButtonContextMenu {
	display: none;
}

.menuShortCut .showPopUp {
	display: block;
}
.BpButtonContextMenu .section{
	width: 100%;
	margin: 2px;
	padding: 5px;
 }
 .BpButtonContextMenu .middle{
	border-bottom: 1px dashed #DDD;
	border-top: 1px dashed #DDD;
 }

.BpButtonContextMenu:AFTER{
    background-image: url("/img/larrow.png");
    content: " ";
    height: 20px;
    left: -19px;
    position: absolute;
    top: 16px;
    width: 20px;
}

.BpButtonContextMenu button{
	font-size: 10px;
	border: none;
	background-color: rgba(200,240,200,.9);
	background-image: none;
	border-radius: 2px;
	
}
.BpButtonContextMenu button:hover{
	background-color: rgba(250,250,250,.7);
	box-shadow: 0 0 5px 10px #DED inset;
}
.BpButtonContextMenu {
	background-color: rgba(150,210,150,.7); 
	box-shadow: 0 0 2px;
    left: 130%;
    position: absolute;
    width: 154px;
}



.active .bg {
	border: none;
	width: 100%;
}

.active {
	background-color: rgba(150, 255, 200, 0.5);
	border: medium none;
	box-shadow: 0 0 4px #FFFFFF inset;
}

.focused {
	/*background-color: rgba(100, 150, 250, 0.7);*/
	
}

.focused .marker {
	display: block;
	background-image: url("/img/marker.png");
	border-radius: none;
}

.marker {
	/*background-color: #EEFFEE;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 2px #EEFFEE;*/
	height: 5px;
	width: 5px;
	display: block;
	/*display: none;*/
	float: right;
	left: 55px;
	position: absolute;
	right: 5px;
	top: 25px;
}

.focused .bg {
	border: none;
}

.toolBar {
	height: 50px;
	background-color: #EFE;
}

.toolButton {
	border: 1px solid #EEFFEE;
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 40px;
	margin: 5px;
	width: 40px;
}

.toolButton:hover {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}

.btnHome {
	background: url("/img/icons/tb-home.png") no-repeat scroll center center
		transparent;
}

.view-icon .btnShowIcons,.view-tile .btnShowTile,.view-list .btnShowList
	{
	background-color: #CCCCCC;
	border: 1px solid #FFF;
	box-shadow: 0 0 2px #999999 inset;
}

.btnShowList {
	background: url("/img/icons/tb-list-normal.png") no-repeat scroll center
		center transparent;
	float: right;
	margin: 5px 2px;
}

.btnShowList:hover {
	background-image: url("/img/icons/tb-list.png")
}

.btnShowIcons {
	background: url("/img/icons/tb-icons-normal.png") no-repeat scroll
		center center transparent;
	float: right;
	margin: 5px 2px;
}

.btnShowIcons:hover {
	background-image: url("/img/icons/tb-icons.png")
}

.btnShowTile {
	background: url("/img/icons/tb-tiles-normal.png") no-repeat scroll
		center center transparent;
	float: right;
	margin: 5px 2px;
}

.btnShowTile:hover {
	background-image: url("/img/icons/tb-tiles.png")
}

.btnViewSettings {
	background: url("/img/icons/tb-settings.png") no-repeat scroll center
		center transparent;
	float: right;
	margin-left: 15px;
}

.toolSearchBox:focus {
	border: 1px solid #9BBD9B;
	box-shadow: 0 0 2px #9EFF9E;
}

.toolSearchBox {
	background: url("/img/icons/find.png") no-repeat scroll right center
		transparent;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	float: left;
	height: 20px;
	margin: 12px;
	width: 150px;
	color: #444;
}

.Section {
	border-bottom: 1px solid #FFFFFF;
	float: left;
	width: 100%;
	margin: 0;
	background: url("/img/sectionBg.png") no-repeat scroll top right
		transparent;
}

.SectionContent {
	background-color: #EEE;
}

.SectionTitle {
	color: #446644;
	font-size: 13px;
	text-transform: none;
	background: url("/img/titleBg.png") no-repeat scroll left top
		transparent;
}

.menuShortCut .bg:hover {
	background: url("/img/menuButtonBG.png") no-repeat scroll center center
		transparent;
}

.user-grup-app1{
	background-image: url("/img/nicons/groups_yel.png");
}
.user-grup-app2{
	background-image: url("/img/nicons/groups_blue.png");
}

.setting-password {
	background-image: url("/img/nicons/passwords.png");
}

.setting-sync {
	background-image: url("/img/nicons/sync.png");
}

.setting-language {
	background-image: url("/img/nicons/language.png");
}

.setting-color {
	background-image: url("/img/nicons/color-settings.png");
}

.setting-wallpaper {
	background-image: url("/img/nicons/wallpaper.png");
}

.all-settings {
	background-image: url("/img/nicons/settings_green.png");
}

.gnome-do {
	background-image: url("/img/nicons/aplication_red.png");
}

.config {
	background-image: url("/img/nicons/wall.png");
}

.susers {
	background-image: url("/img/nicons/groups.png");
}

.zenmap {
	background-image: url("/img/nicons/system-monitor.png");
}

.wallpaper {
	background-image: url("/img/icons/wallpaper.png");
}

.gnome-other {
	/*background-image: url("/img/icons/gnome-other.png");*/
	
}

.style-app-0 {
	background-image: url("/img/nicons/settings_blue.png");
}

.style-app-1 {
	background-image: url("/img/nicons/groups.png");
}

.style-app-2 {
	background-image: url("/img/nicons/download.png");
}

.style-app-3 {
	background-image: url("/img/nicons/upload.png");
}

.style-app-4 {
	background-image: url("/img/nicons/sync.png");
}

.Label-test{
	    color: rgba(100, 100, 100, 0.7);
    font-size: 50px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
}

/*Background Settings form*/
.footer .main-form-buttons {
	width: 150px;
	height: 40px;
	float: right;
	margin: 6px;
}

.footer {
	float: right;
}

.displayConatiner {
	height: 369px;
	margin: 1px auto;
	/*border: 1px solid #FDF;*/
	background-image: url("/img/dell2.jpg");
	background-position: 3px center;
	background-repeat: no-repeat;
}

.displayConatiner div {
	box-shadow: 0 0 4px inset;
	height: 231px;
	left: 22px;
	position: absolute;
	top: 21px;
	width: 363px;
	z-index: 10;
}

.no-repeat {
	background-position: center center;
	background-repeat: no-repeat;
}

.repeat {
	background-position: center center;
	background-repeat: repeat;
}

.displayConatiner .theme1 {
	background-image: url("/img/bg/bg1-57.jpg");
}

.displayConatiner .theme2 {
	background-image: url("/img/bg/bg2-57.jpg");
}

.displayConatiner .theme3 {
	background-image: url("/img/bg/bg3-57.jpg");
}

.displayConatiner .theme4 {
	background-image: url("/img/bg/bg4-57.jpg");
}

.displayConatiner .theme5 {
	background-image: url("/img/bg/bg5-57.jpg");
}

.displayConatiner .theme6 {
	background-image: url("/img/bg/bg6-57.jpg");
}

.displayConatiner .theme7 {
	background-image: url("/img/bg/bg7-57.jpg");
}

.displayConatiner .theme8 {
	background-image: url("/img/bg/bg8-57.jpg");
}

.displayConatiner .theme9 {
	background-image: url("/img/bg/bg9-57.jpg");
}

.displayConatiner .theme10 {
	background-image: url("/img/bg/bg10-57.jpg");
}

.displayConatiner .theme11 {
	background-image: url("/img/bg/bg11-57.jpg");
}

.displayConatiner .theme12 {
	background-image: url("/img/bg/bg12-57.jpg");
}

.displayConatiner .theme13 {
	background-image: url("/img/bg/bg13-57.jpg");
}

.displayConatiner .theme14 {
	background-image: url("/img/bg/bg14-57.jpg");
}

.displayConatiner .theme15 {
	background-image: url("/img/bg/bg15-57.jpg");
}

.displayConatiner .theme16 {
	background-image: url("/img/bg/bg16-57.png");
}

.displayConatiner .theme17 {
	background-image: url("/img/bg/bg13-57.jpg");
}

.displayConatiner .theme18 {
	background-image: url("/img/bg/bg14-57.jpg");
}

.displayConatiner .theme19 {
	background-image: url("/img/bg/bg15-57.jpg");
}

.displayConatiner .theme20 {
	background-image: url("/img/bg/bg16-57.png");
}

.previewList {
	height: 200px;
	margin: 0 auto;
	/*border: 1px solid #FDF;*/
}

.previewList .listIcon {
	border: 1px solid #FFFFFF;
	border-radius: 6px 6px 6px 6px;
	height: 57px;
	margin: 4px;
	width: 57px;
	box-shadow: 0 0 3px #444444 inset;
}

.previewList .active {
	box-shadow: 0 0 12px #222 inset;
}

.previewList button {
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.previewList .theme1 {
	background-image: url("/img/bg/bg1-57.jpg");
}

.previewList .theme2 {
	background-image: url("/img/bg/bg2-57.jpg");
}

.previewList .theme3 {
	background-image: url("/img/bg/bg3-57.jpg");
}

.previewList .theme4 {
	background-image: url("/img/bg/bg4-57.jpg");
}

.previewList .theme5 {
	background-image: url("/img/bg/bg5-57.jpg");
}

.previewList .theme6 {
	background-image: url("/img/bg/bg6-57.jpg");
}

.previewList .theme7 {
	background-image: url("/img/bg/bg7-57.jpg");
}

.previewList .theme8 {
	background-image: url("/img/bg/bg8-57.jpg");
}

.previewList .theme9 {
	background-image: url("/img/bg/bg9-57.jpg");
}

.previewList .theme10 {
	background-image: url("/img/bg/bg10-57.jpg");
}

.previewList .theme11 {
	background-image: url("/img/bg/bg11-57.jpg");
}

.previewList .theme12 {
	background-image: url("/img/bg/bg12-57.jpg");
}

.previewList .theme13 {
	background-image: url("/img/bg/bg13-57.jpg");
}

.previewList .theme14 {
	background-image: url("/img/bg/bg14-57.jpg");
}

.previewList .theme15 {
	background-image: url("/img/bg/bg15-57.jpg");
}

.previewList .theme16 {
	background-image: url("/img/bg/bg16-57.png");
}

.previewList .theme17 {
	background-image: url("/img/bg/bg13-57.jpg");
}

.previewList .theme18 {
	background-image: url("/img/bg/bg14-57.jpg");
}

.previewList .theme19 {
	background-image: url("/img/bg/bg15-57.jpg");
}

.previewList .theme20 {
	background-image: url("/img/bg/bg16-57.png");
}
.theme1 {
	background-image: url("/img/bg/bg1.jpg");
}

.theme2 {
	background-image: url("/img/bg/bg2.jpg");
}

.theme3 {
	background-image: url("/img/bg/bg3.jpg");
}

.theme4 {
	background-image: url("/img/bg/bg4.jpg");
}

.theme5 {
	background-image: url("/img/bg/bg5.jpg");
}

.theme6 {
	background-image: url("/img/bg/bg6.jpg");
}

.theme7 {
	background-image: url("/img/bg/bg7.jpg");
}

.theme8 {
	background-image: url("/img/bg/bg8.jpg");
}

.theme9 {
	background-image: url("/img/bg/bg9.jpg");
}

.theme10 {
	background-image: url("/img/bg/bg10.jpg");
}

.theme11 {
	background-image: url("/img/bg/bg11.jpg");
}

.theme12 {
	background-image: url("/img/bg/bg12.jpg");
}

.theme13 {
	background-image: url("/img/bg/bg13.jpg");
}

.theme14 {
	background-image: url("/img/bg/bg14.jpg");
}

.theme15 {
	background-image: url("/img/bg/bg15.jpg");
}

.theme16 {
	background-image: url("/img/bg/bg16.png");
}
.theme17 {
	background-image: url("/img/bg/bg13.jpg");
}

.theme18 {
	background-image: url("/img/bg/bg14.jpg");
}

.theme19 {
	background-image: url("/img/bg/bg15.jpg");
}

.theme20 {
	background-image: url("/img/bg/bg16.png");
}


.bm_desktop_container{
	height: 100%;
	width: 100%;
}

/* Widget*/ 
.watch {
    font-family: "PT Sans Narrow";
    
}

.bp-widget {
    color: rgba(0, 100, 0, 0.5);
    position: absolute;
    right: 50px;
    text-shadow:1px 1px 0 rgba(250,250,250,0.5);
    top: 20px;
    width: 340px;
}
.watch .time{
    float: left;
    font-size: 90px;
    line-height: 50px;
    margin: 0 10px;
}
.watch .dayWeek{
	color: rgba(150, 120, 0, 0.7);
    font-size: 28px;
    margin: 9px;
}
.watch .dayNum{
	color: rgba(0,0,100,0.5);
    float: left;
    font-size: 37px;
    line-height: 20px;
    margin: 0 7px;
}
.watch .date{
	font-size: 16px;
}



/*Queue*/
.QueueButton {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgb(153, 153, 153), 0 0 3px 0 rgb(68, 68, 68) inset;
    float: left;
    height: 151px;
    margin: 15px 0 0 15px;
    width: 245px;
   background-image: url("/img/bg/bg5.jpg");
}
.q0 {
    background-color: rgba(0, 180, 84, .7);
    height: 317px;
    width: 505px;
}
.q1 {
    background-color: rgba(0, 163, 131, .7);
}
.q2 {
    background-color: rgba(34, 135, 81, .7);
}
.q3 {
    background-color: rgba(31, 122, 104, .7);
}
.q4 {
    background-color: rgba(0, 117, 54, .7);
    width: 505px;
}
.q5 {
    background-color: rgba(0, 106, 85, .7);
}
.q6 {
    background-color: rgba(54, 218, 130, .7);
}
.q7 {
    background-color: rgba(52, 209, 178, .7);
}
.q8 {
    background-color: rgba(98, 218, 154, .7);
}


/* Login */
.login-form {
    background-color: rgba(150, 200, 150, 0.7);
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 4px #444444;
    color: #444444;
    float: left;
    font-family: Verdana,"PT Sans Narrow";
    height: 185px;
    margin: 40px;
    text-shadow: 1px 1px #DDDDDD;
    width: 300px;
}
.login-form h3 {
    text-align: center;
}
.bp-login-form {
    margin: 15px;
}
.bp-login-form input {
    height: 30px;
    text-align: center;
}
.login-form-button {
    border: 1px solid #DDDDDD;
    float: right;
    height: 30px;
    width: 60px;
}
.login-form-1 {
    background: url("img/bg/bg-glass.png") repeat scroll 0 0 rgba(100, 200, 100, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 100px #FFFFFF inset, 0 0 4px #696;
    color: #444444;
    font-family: Verdana,"PT Sans Narrow";
    height: 290px;
    margin: 10% auto;
    position: relative;
    text-shadow: 0 0 1px #99CC99;
    width: 470px;
}
.login-form-1 h3 {
    color: rgba(150, 220, 150, 0.9);
    display: inline;
    font-size: 30px;
    margin: 9px 12px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.login-form-1 dd {
    color: #99CC99;
    font-size: 20px;
    margin: 15px 0 10px;
    text-align: center;
}
.login-form-1 .bp-login-form {
    margin: 15px;
}
.login-form-1 input {
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.66);
    border: 1px solid #EEFFEE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #9B9B9C inset;
    color: #777777;
    font-size: 40px;
    height: 50px;
    margin: 0 10%;
    text-align: center;
    width: 80%;
}
.login-form-1 .login-form-button {
    background-color: #C4E2B8;
    border: 1px solid #CCEECC;
    box-shadow: 0 0 2px #669966;
    color: #669966;
    cursor: pointer;
    float: right;
    font-size: 18px;
    text-shadow: 0 0 1px #669966;
    width: 100px;
}
.form-glass {
}




.login-form-2 {
    background: url("img/bg/bg-glass.png") repeat scroll -201px 182px rgba(100, 200, 100, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 100px #FFFFFF inset, 0 0 4px #669966;
    color: #444444;
    font-family: Verdana,"PT Sans Narrow";
    height: 180px;
    margin: 10% auto;
    padding: 0;
    position: relative;
    text-shadow: 0 0 1px #477A47;
    width: 290px;
}
.login-form-2 h3 {
    color: rgba(150, 220, 150, 0.9);
    display: inline;
    font-size: 20px;
    margin: 1px 5px;
    position: absolute;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
.login-form-2 dd {
    color: #FFFFFF;
    font-size: 14px;
    margin: 6px 0 1px;
    text-align: center;
}
.login-form-2 .bp-login-form {
    margin: 0;
}
.login-form-2 input {
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.66);
    border: 1px solid #EEFFEE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #88BB88 inset;
    color: #777777;
    font-size: 22px;
    height: 30px;
    margin: 0 10%;
    text-align: center;
    width: 80%;
}
.login-form-2 .login-form-button {
    background: url("img/bg/bg-glass.png") repeat scroll -238px -249px rgba(100, 200, 100, 0.3);
    border: 1px solid #CCEECC;
    box-shadow: 0 0 2px #669966;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin: -5px 29px;
    text-shadow: 0 0 1px #669966;
    width: 70px;
}