<div class="{style.contentArea} contentArea">
  <div class="{style.content} content">{content}</div>
  <div class="{style.topLeft} topLeft"></div>
  <div class="{style.top} top"></div>
  <div class="{style.topRight} topRight"></div>
  <div class="{style.bottomLeft} bottomLeft"></div>
  <div class="{style.bottom} bottom"></div>
  <div class="{style.bottomRight} bottomRight"></div>
  <div class="{style.left} left"></div>
  <div class="{style.right} right"></div>
</div>
