/**
 * Sencha GXT 3.0.1 - Sencha for GWT
 * Copyright(c) 2007-2012, Sencha, Inc.
 * licensing@sencha.com
 *
 * http://www.sencha.com/products/gxt/license/
 */
@external noheader;

.topLeft,.top,.topRight {
  height: auto;
}

.topLeft {
  border: none;
}

.noheader .topLeft, .noheader .top {
  height: 3px;
  border: none; 
}

.left {
  background-color: transparent;
  padding-left: 1px;
  content:"left";
}

.right {
  background-color:transparent;
  padding-right: 1px;
  content:"right";
}

.content {
  padding-top: 0px;
  background: -moz-linear-gradient(center top, #EEEEEE 0%, rgba(255, 255, 255, 0.5)
		100%) repeat scroll 0 0 transparent;
  border: medium none;
  /*box-shadow: 0 0 1px 1px #FFFFFF inset;*/
  content:"content";
  margin: 0 3px;
}

.bottom,.bottomLeft,.bottomRight {
  height: 4px;
}