/**
 * Sencha GXT 3.0.1 - Sencha for GWT
 * Copyright(c) 2007-2012, Sencha, Inc.
 * licensing@sencha.com
 *
 * http://www.sencha.com/products/gxt/license/
 */
.body {
  border: none;
  background: none;
}

.ghost ul {
  background-color: #D7D7D7;
  border-color: #A1A1A1;
}


