/**
 * Sencha GXT 3.0.1 - Sencha for GWT
 * Copyright(c) 2007-2012, Sencha, Inc.
 * licensing@sencha.com
 *
 * http://www.sencha.com/products/gxt/license/
 */
.header {
  color: #3C3C3C;
  font-weight: bold;
  font-size: 11px;
  font-family: tahoma, arial, verdana, sans-serif; 
  padding: 0;
  margin: 5px -5px;
}

.headerText{
	 font-family: tahoma, arial, verdana, sans-serif;
	 font-size: 11px;
	 font-weight: normal;
	 line-height: 20px;
	 margin-left: 15px;
}

