/**
 * Sencha GXT 3.0.1 - Sencha for GWT
 * Copyright(c) 2007-2012, Sencha, Inc.
 * licensing@sencha.com
 *
 * http://www.sencha.com/products/gxt/license/
 */
a.menuItem {
  color: #222222;
}

.menuListItem {
  font: normal 11px tahoma, arial, sans-serif;
}

@if user.agent ie6 {
	/*TODO: IE6 Bug */
	/*com.bplatform.client.glass.client.menu.*/
  @eval MENU_PARENT com.bplatform.client.glass.client.menu.GrayMenuItemAppearance.GrayMenuItemAppearanceHelper.getMenuParent();
  .menuItemArrow {
    background-image: MENU_PARENT;
  }
} @else {
  @sprite .menuItemArrow {
    gwt-image: "menuParent";
    height: auto; /* override gwt-image default behavior */
    width: auto; /* override gwt-image default behavior */
  }
}

.menuItemArrow {
  background-position: right;
  background-repeat: no-repeat;
}
